@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background: url(/src/assets/frontend-assets/backgroundblur.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#arrows {
  margin-left: 5px;
}

#search-input {
  font-size: medium;
  margin-left: 10px;
}

.Left-Panel {
  width: 300px;
  height: 100vh;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  text-align: center;
  color: black;
}